{% extends 'AppSupplyWarakinBundle::base.html.twig' %}

{% block title %}Player{% endblock %}

{% block css %}
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/css/player.less" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/jquery.raty.css" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.eot" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.svg" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.ttf" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.woff" />
{% endblock %}

{% block script %}
	{% javascripts
		'@AppSupplyWarakinBundle/Resources/public/js/soundmanagerv2/script/soundmanager2-nodebug-jsmin.js'

		'@AppSupplyWarakinBundle/Resources/public/js/jquery.tablednd.js'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/jquery.raty.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/main.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/gui.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playerFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playlistFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/libraryFunctions.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.charorder.min.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.min.js'

	%}
    	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block htmlContent %}
	<div class="trackSearchContainer" >
		<input type="text" id="trackSearch" placeholder="Search library…">
	</div>
	<div id="libraryTabs" class="tabbable tabs">
		{% include "AppSupplyWarakinBundle:Components:tab-nav.component.html.twig" %}
		<div class="tab-content">
		
			{% include "AppSupplyWarakinBundle:Sections:home.pane.html.twig" %}

		   	{% include "AppSupplyWarakinBundle:Sections:playlist.pane.html.twig" %}
		    
		    <div class="tab-pane" id="libraryArtists">
				<div class="pagination pagination-small">
				  <ul>
				    <li><a>#</a></li>
				  	<li><a id="libraryArtistsA">A</a></li>
				  	<li><a id="libraryArtistsB">B</a></li>
				  	<li><a id="libraryArtistsC">C</a></li>
				  	<li><a id="libraryArtistsD">D</a></li>
				  	<li><a id="libraryArtistsE">E</a></li>
				  	<li><a id="libraryArtistsF">F</a></li>
				  	<li><a id="libraryArtistsG">G</a></li>
				  	<li><a id="libraryArtistsH">H</a></li>
				  	<li><a id="libraryArtistsI">I</a></li>
				  	<li><a id="libraryArtistsJ">J</a></li>
				  	<li><a id="libraryArtistsK">K</a></li>
				  	<li><a id="libraryArtistsL">L</a></li>
				  	<li><a id="libraryArtistsM">M</a></li>
				  	<li><a id="libraryArtistsN">N</a></li>
				  	<li><a id="libraryArtistsO">O</a></li>
				  	<li><a id="libraryArtistsP">P</a></li>
				  	<li><a id="libraryArtistsQ">Q</a></li>
				  	<li><a id="libraryArtistsR">R</a></li>
				  	<li><a id="libraryArtistsS">S</a></li>
				  	<li><a id="libraryArtistsT">T</a></li>
				  	<li><a id="libraryArtistsU">U</a></li>
				  	<li><a id="libraryArtistsV">V</a></li>
				  	<li><a id="libraryArtistsW">W</a></li>
				  	<li><a id="libraryArtistsX">X</a></li>
				  	<li><a id="libraryArtistsY">Y</a></li>
				  	<li><a id="libraryArtistsZ">Z</a></li>
				  </ul>
				</div>

				{#

				{% for key,value in artists %}
					<div id="artist{{key}}" class="row" data-offset="0">
						<h3>{{key}}</h3>
						<ul>
						{%
							for artistKey,artistValue in value
						%}<li class="artistBtn"
								{% if artistValue.images %}
									style="background-image:url('{{artistValue.images.extralarge}}');"
								{% endif %}
							><span class="container">
							    <h4>{{ artistValue.name }}</h4>
							    {% for key,val in artistValue %}
								  		<!-- {{ key }}:
								   		{{ val }}<br> -->
								{% endfor %}
							</span></li>{%
							endfor
						%}
						</ul>
					</div>
				{% endfor %}

				#}

				<div id="artistList" class="row" data-offset="0">
					<div class="span4" id="artistList1">

					</div>
					<div class="span4" id="artistList2">

					</div>
					<div class="span4" id="artistList3">

					</div>
				</div>
				<ul class="pager  pagination-small">
				  <li class="previous">
				    <a>&larr; previous</a>
				  </li>
				  <li class="next">
				    <a>next &rarr;</a>
				  </li>
				</ul>
		    </div>
		    <div class="tab-pane" id="libraryGenres">
				<div id="genreList" class="row" data-offset="0">
					<div class="span3" id="genreList1">

					</div>
					<div class="span3" id="genreList2">

					</div>
					<div class="span3" id="genreList3">

					</div>
					<div class="span3" id="genreList4">

					</div>
				</div>
		    </div>
		    <div class="tab-pane" id="libraryGenre">
				<div id="genreDetails" class="row" data-offset="0">
	              <div class="span4">
	                <div class="thumbnail">
	                  <img alt="300x300" style="width: 300px; height: 300px;" src="bundles/appsupplywarakin/img/defaultAlbum.png">
	                  <div class="caption">
	                    <p class="wiki">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
	                  </div>
	                </div>
	              </div>
	              <div class="span4">
	              	<div id="genreArtistList" class="well">
	              		<h3>Artists</h3>
	              		<ul></ul>
	              	</div>
	              </div>
	              <div class="span4">
	              	<div id="genreAlbumList" class="well">
	              		<h3>Albums</h3>
	              		<ul></ul>
	              	</div>
	              </div>
				</div>
		    </div>
		    <div class="tab-pane" id="libraryArtist">
				<div class="row" data-offset="0">
					<div class="span3 artistCover">
						<img alt="300x300" src="bundles/appsupplywarakin/img/defaultAlbum.png">
	              	</div>
	                <div class="artistDescription span9">
	                	<h2>Artist name</h2>
                    	<p class="wiki">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                </div>
	            </div>
				<!--div class="span2">X Favorites</div>
				<div class="span2">X Albums</div>
				<div class="span2">X Tracks</div-->
				<div id="artistAlbumTrackList"></div>
				<div class="row" data-offset="0">
		            <div class="span4">
		              	<div id="artistStats" class="well">
		              		<h3>Genres</h3>
		              		<ul></ul>
		              		<h3>Related artists</h3>
		              		<ul></ul>
		              	</div>
		            </div>
		            <div class="span4">
		              	<div id="artistAlbumList" class="well">
		              		<h3>Albums</h3>
		              		<ul></ul>
		              	</div>
					</div>
					<div class="span4">
						<div id="artistTracksList" class="well">
							<h3>Tracks</h3>
							<ul></ul>
						</div>
					</div>
				</div>
	        </div>
		    <div class="tab-pane" id="libraryTracks">
		    </div>
		    <div class="tab-pane" id="libraryPlaylists">
	          	<h3>Playlists</h3>
		      	<p>Playlistts synched from your Plex collection. Spotify will be added when the great
				  unifying web api move has been implemented to play remote content.</p>
		    </div>
		    <div class="tab-pane libraryPlaylistGenerator disable-select no-white-space" id="libraryPlaylistGenerator">
				<div class="playnextSetting" id="playnextSetting">
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option01" value="random" checked="checked" />
					<label for="playnext_setting_option01"><span>SO Random</span><span>*spork*</span></label>
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option02" value="explore"/>
					<label for="playnext_setting_option02"><span>To boldly listen!</span><span>*what no one has listen before. Or at least not you*</span></label>
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option03" value="favorites"/>
					<label for="playnext_setting_option03"><span>I know what I like</span><span>Give preference to favorites with a rating over 3 stars</span></label>
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option04" value="behaviour"/>
					<label for="playnext_setting_option04"><span>Everything is connected</span><span>Play me songs based on my recent (last 4 weeks) behaviour</span></label>
				</div>
		    	<!--div>

					<div class="squaredOne">
						<input type="checkbox" value="None" id="squaredOne" name="check" checked />
						<label for="squaredOne"></label>
					</div>
				</div-->
				<div class="genreGroupSettings" id="genreGroupSettings">
					{% for key,value in home.genregroups %}
						{% if value.name != "Bad Tags" %}
							<input type="checkbox" name="genreGroup[]" id="genregroup-{{value.id}}" value="{{value.id}}" />
							<label for="genregroup-{{value.id}}"><span>{{value.name}}</span>
								<span>{% for genrekey,genreValue in value.genres %}
									{{genreValue.name}}
									<!--a href="#libraryTracks" data-toggle="tab" onClick="loadAlbum({{value.id}}, '#libraryTracks');">{{value.name}}</a-->
								{% endfor %}</span>
							</label>
							</li>
						{% endif %}
					{% endfor %}
				
				</div>
				<div class="numSongsSetting">
			    	<label for="num_songs">Number of songs:</label><input type="number" name="num_songs" id="num_songs" value="60" min="0" max="500" step="1"/>
				</div>
				<div class="songLengthSetting">
					<label for="song_length_min">Minimum song length:</label><input type="number" name="song_length_min" id="song_length_min" value="0"/><span class="unit">minutes</span>
					<label for="song_length_max">Maximum song length:</label><input type="number" name="song_length_max" id="song_length_max" value="6"/><span class="unit">minutes</span>
				</div>
				<div>
			    	<label for="song_age">Minimum song age:</label><input type="number" name="song_age_min" id="song_age_min" value="0" min="0" max="50" /><span class="unit">years</span>
					<label for="song_age">Maximum song age:</label><input type="number" name="max_song_age" id="song_age_max" value="0" min="0" max="150" /><span class="unit">years</span>
				</div>
				<div>
					<label for="playcount">Minimum song playcount:</label><input type="number" name="song_playcount_min" id="song_playcount_min" value="0" min="0" max="20" /><span class="unit">plays</span>
					<label for="playcount">Maximum song playcount:</label><input type="number" name="song_playcount_max" id="song_playcount_max" value="0" min="0" max="20" /><span class="unit">plays</span>
				</div>
				<div>
					<label for="playcount">Minimum song rating:</label><input type="number" name="min_rating" id="min_rating" value="0" min="0" max="10" /><span>stars</span>
				</div>
				<div>
					<label for="serato">Serato:</label>
					<div class="squaredOne">
						<input type="checkbox" value="serato" id="serato" name="serato"  />
						<label for="serato"></label>
					</div>  &nbsp;has at least 3 serato cue points
					<label for="match_harmonic">Harmonic match:</label>	
					<div class="squaredOne">
						<input type="checkbox" value="match_harmonic" id="match_harmonic" name="match_harmonic"  />
						<label for="match_harmonic"></label>
					</div>  &nbsp;match harmony
					<label for="match_bpm">Tempo match:</label>	
					<div class="squaredOne">
						<input type="checkbox" value="match_bpm" id="match_bpm" name="match_bpm"  />
						<label for="match_bpm"></label>
					</div>  &nbsp;match bpm
				</div>
		    	<div class="row">{#
		        <div class="span3">

						<div id="slider-height" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 43.333333333333336%; width: 56.666666666666664%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 43.333333333333336%;"><span class="val">115</span></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"><span class="val">200</span></a></div>
			    		</div>
			    		<div class="span3">

			    		<label for="num_songs"></label>
							<br/><br/>



						<label for="listeners">Lara:</label>
						<input type="checkbox" name="listeners" id="listeners" value="lara" />
			    		</div>
				</div> #}
		    	<div class="row">
					<div class="span12">

						<!--label><input type="checkbox" name="favorites" id="favorites" value="1" /> Only favorites </label>

						<p>Choose as many genres as you'd like:</p>
						<div data-role="controlgroup" id="generatorGenreList">
						</div>

					<!--
						<input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom" />
						<label for="checkbox-2a">Genre2</label>
					-->
					</div>
				</div>
				<div class="generateButton">
					<a class="btn" id="generatePlaylistButton" >generate playlist</a>
				</div>
		    </div>
		    {#
			div class="tab-pane" id="libraryStats">
	            <h3>Statistics</h3>
		      	<p>I'm in Section 5.</p>
		    </div>
		    <div class="tab-pane" id="libraryTools">
		    	<h3>Tools</h3>
		      	<p>I'm in Section 5.</p>
		    </div>
			>
		#}</div>
	</div>
	<div class="row">
		<div class="span12">
			<!-- Button to trigger modal -->
			<!--a href="#loaderModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a-->

			<!-- Modal -->
			<div id="loaderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="true"  data-backdrop="static">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="loaderModalLabel">Loading</h3>
			  </div>
			  <div class="modal-body">
			    <p>Loading ...</p>
			  </div>
			  <!--div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button class="btn btn-primary">Save changes</button>
			  </div>
			</div-->
		</div>

		<div id="saveTrackToPlaylist" class="modal hide fade" data-id-track="NaN">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Choose the playlist</h3>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<form style="position:absolute; width:calc(100% - 240px); height:36px; ">
					<input class="text" name="" id="newPlaylistName" placeholder="New playlist" style="width:100%; padding:3px 4px;"/>
				</form>
				<script>
					$(document).ready(function(){
						$("#newPlaylistName").on("keyup", function() {
							var value = $(this).val().toLowerCase();
							console.log(value);
							console.log($("saveTrackToPlaylist ol li a"));
							$("#saveTrackToPlaylist ol li a").filter(function() {
								$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
							});
						});
					});
				</script>
				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
	</div>

					
	<div id="player" class="nowPlaying">
		<div>
			<div class ="coverContainer">
				<img id="currentAlbumCover" class="media-object" src="bundles/appsupplywarakin/img/defaultAlbum.png">
			</div>
			<div id="playControls">
				<a id="backButton">
					<i class="fa fa-step-backward"></i>
				</a>
				<a id="playButton">
					<i class="fa fa-play-circle"></i>
				</a>
				<a id="pauseButton">
					<i class="fa fa-pause-circle"></i>
				</a>
				<a id="forwardButton">
					<i class="fa fa-step-forward"></i>
				</a>
			</div>
			<div class="trackPropertiesContainer">
				<p>
					<span id="artistName">Artist Name</span>
					<span id="trackName">TrackName</span>
					<span id="albumName">AbumName</span>
					<!--span id="genreName">GenreName</span-->
				</p>
			</div>
			<div class="trackDetailsContainer">
				<p>
					<span id="bitrate">192 Kbps</span><br/>
					<span id="frequency">44.100 Khz</span>
				</p>
			</div>
		</div>
		<div class="progressbarContainer" id="progressBarContainer">
			<div id="loadProgressBar" class="progress progress-striped  progress-warning"><div class="bar"></div></div>
			<div id="trackProgressBar" class="progress progress-striped  progress-danger"><div class="bar"></div></div>
		</div>
	</div>
{% endblock %}

{% block javascriptHtmlTemplates %}
	<ul class="playlist">
		{#% include "AppSupplyWarakinBundle:Components:queue-track.component.html.twig" %#}
		{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
		{#% include "AppSupplyWarakinBundle:Components:playlist.component.html.twig" %#}
	<ul>
	<ul class="albumlist">
		<li class="album">
			<span class="coverContainer"><img src="" /></span>
			<span class="artistName>Artist</span>
			<span class="albumName>Album</span>
			<span><i class="fa fa-lastfm"></i></span>
			<span><i class="fa fa-spotify"></i></span>
			<span><i class="fa fa-graduation-cap"></i></span>
		</li>
	</ul>
{% endblock %}
