{% extends 'AppSupplyWarakinBundle::base.html.twig' %}

{% block title %}Player{% endblock %}

{% block css %}
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/css/player.less" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/jquery.raty.css" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.eot" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.svg" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.ttf" />
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.woff" />
{% endblock %}

{% block script %}
	{% javascripts
		'@AppSupplyWarakinBundle/Resources/public/js/soundmanagerv2/script/soundmanager2-nodebug-jsmin.js'

		'@AppSupplyWarakinBundle/Resources/public/js/jquery.tablednd.js'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/jquery.raty.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/main.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/gui.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playerFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playlistFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/libraryFunctions.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.charorder.min.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.min.js'

	%}
    	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block htmlContent %}
	<div class="trackSearchContainer" >
		<input type="text" id="trackSearch" placeholder="Search library…">
	</div>
	<div id="libraryTabs" class="tabbable tabs">
		{#{% include "AppSupplyWarakinBundle:Components:tab-nav.component.html.twig" %} #}
		<div class="tab-content">
		   	{% include "AppSupplyWarakinBundle:Sections:tracks.latest.pane.html.twig" %}
		    <div class="tab-pane active" id="libraryPlaylist">
				<ul class="playlist header">
					<li>
					<span class="mini drag"></span>
					<span class="num">&nbsp;</span>
					<span class="artist">artist</span>
					<span class="album">album</span>
					<span class="short year">year</span>
					<span class="title">title</span>
					<span class="genre">genre</span>
					<span class="short bitrate">kb/s</span>
					<span class="short bpm"><i class="fas fa-tachometer-alt"></i></span>
					<span class="short music_key">music key</span>
					<span class="short duration">length</span>
					<span class="mini playnext" onclick="javascript:generateNextTracks($(this).parent())"><i class="fa fa-graduation-cap"></i></span>
					<span class="rating">rating</span>
					<span class="mini info"><i class="fa fa-info-circle"></i></span>
					<span class="mini spotify"><i class="fab fa-spotify"></i></span>
					<span class="mini last_fm_url"><i class="fab fa-lastfm"></i></span>
					<span class="mini serato"><img src="bundles/appsupplywarakin/img/icons/serato-icon-grey.png" width="16"/></span>
					<span class="mini add_to_list"><i class="fas fa-cloud-upload-alt"></i></a></span>
					<span class="mini remove" onclick="javascript:clearPlaylist();"><i class="fa fa-times"></i></span>
					</li>
				</ul>
				<ul class="playlist" id="playlist">
				</ul>
				<ul class="footer playlist">
					<li>
						<span class="mini drag"></span>
						<span class="num">PLS:</span>
						<span class="playlistname" id="playlistname"></span>
						<span class="genre"><i class="fa fa-floppy-o" onclick="javascript:updatePlaylist();"></i></span>
						<span class="short bitrate"></span>
						<span class="short bpm"></span>
						<span class="short duration"></span>
						<span class="mini spotify"></span>
						<span class="mini last_fm_url"></span>
						<span class="mini last_fm_url"></span>
						<span class="rating"></span>
						<span class="mini">
							<a href="#" id="repeat-switch"><i class="fas fa-redo"></i></a>
						</span>
						<span class="mini">
							<a href="#" id="shuffle-switch"><i class="fa fa-random"></i></a>
						</span>
						<span class="mini">
							<a href="#" id="auto-playnext-switch" class="auto-play-next active"><i class="fa fa-graduation-cap"></i></a>
						</span>
					</li>
				</ul>

		</div>
		    <div class="tab-pane" id="libraryPlaylists">
	          	<h3>Playlists</h3>
		      	<p>Playlistts synched from your Plex collection. Spotify will be added when the great
				  unifying web api move has been implemented to play remote content.</p>
		    </div>
	</div>
	<div class="row">
		<div class="span12">
			<!-- Button to trigger modal -->
			<!--a href="#loaderModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a-->

			<!-- Modal -->
			<div id="loaderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="true"  data-backdrop="static">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="loaderModalLabel">Loading</h3>
			  </div>
			  <div class="modal-body">
			    <p>Loading ...</p>
			  </div>
			  <!--div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button class="btn btn-primary">Save changes</button>
			  </div>
			</div-->
		</div>

		<div id="saveTrackToPlaylist" class="modal hide fade" data-id-track="NaN">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Choose the playlist</h3>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
	</div>
	<div id="player" class="nowPlaying">
		<div>
			<div class ="coverContainer">
				<img id="currentAlbumCover" class="media-object" src="bundles/appsupplywarakin/img/defaultAlbum.png">
			</div>
			<div id="playControls">
				<a id="backButton">
					<i class="fa fa-step-backward"></i>
				</a>
				<a id="playButton">
					<i class="fa fa-play-circle"></i>
				</a>
				<a id="pauseButton">
					<i class="fa fa-pause-circle"></i>
				</a>
				<a id="forwardButton">
					<i class="fa fa-step-forward"></i>
				</a>
			</div>
			<div class="trackPropertiesContainer">
				<p>
					<span id="artistName">Artist Name</span>
					<span id="trackName">TrackName</span>
					<span id="albumName">AbumName</span>
					<!--span id="genreName">GenreName</span-->
				</p>
			</div>
			<div class="trackDetailsContainer">
				<p>
					<span id="bitrate">192 Kbps</span><br/>
					<span id="frequency">44.100 Khz</span>
				</p>
			</div>
		</div>
		<div class="progressbarContainer" id="progressBarContainer">
			<div id="loadProgressBar" class="progress progress-striped  progress-warning"><div class="bar"></div></div>
			<div id="trackProgressBar" class="progress progress-striped  progress-danger"><div class="bar"></div></div>
		</div>
	</div>
{% endblock %}

{% block javascriptHtmlTemplates %}
	<ul class="playlist">
		{% include "AppSupplyWarakinBundle:Components:queue-track.component.html.twig" %}
	<ul>
	<ul class="albumlist">
		<li class="album">
			<span class="coverContainer"><img src="" /></span>
			<span class="artistName>Artist</span>
			<span class="albumName>Album</span>
			<span><i class="fa fa-lastfm"></i></span>
			<span><i class="fa fa-spotify"></i></span>
			<span><i class="fa fa-graduation-cap"></i></span>
		</li>
	</ul>
{% endblock %}
