{% extends 'AppSupplyWarakinBundle::base.html.twig' %}

{% block title %}Track Test - 
{% if track.artist %}{{track.artist.getName()}} - {% endif %}{{track.title}}{% endblock %}

{% block css %}
	<link rel="stylesheet/less" type="text/css" href="bundles/appsupplywarakin/css/player.less" />
	<link rel="stylesheet" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/jquery.raty.css" />
	<link rel="stylesheet" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.eot" />
	<link rel="stylesheet" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.svg" />
	<link rel="stylesheet" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.ttf" />
	<link rel="stylesheet" type="text/css" href="bundles/appsupplywarakin/js/jquery-raty/lib/fonts/jquery.raty.woff" />
	<style>
		#libraryTabs{
			height:100% !important;
		}
		#libraryTabs .tab-content {
			max-height:102%;
		}
		.seratoView{

		}

		.rekordboxView{

		}

		.traktorView{

		}

		.virtualdjView{

		}

		.wavesurfer-region{
		}

		.wavesurfer{
			border-top:1px solid white;
			margin-bottom:8px;
		}

		.music_key-01A{
			color:#df80e2;
		}
		.music_key-01B{
			color:#ecb7f0;
		}
		.music_key-02A{
			color:#86749f;
		}
		.music_key-02B{
			color:#baafc7;
		}
		.music_key-03A{
			color:#6c90c4;
		}
		.music_key-03B{
			color:#acc0dd;
		}
		.music_key-04A{
			color:#58bcf8;
		}
		.music_key-04B{
			color:#9fdafc;
		}
		.music_key-05A{
			color:#4fe5ea;
		}
		.music_key-05B{
			color:#9bf1f2;
		}
		.music_key-06A{
			color:#51d392;
		}
		.music_key-06B{
			color:#9be5c2;
		}
		.music_key-07A{
			color:#7ef478;
		}
		.music_key-07B{
			color:#a2f79c;
		}
		.music_key-08A{
			color:#b1e55c;
		}
		.music_key-08B{
			color:#d3efa1;
		}
		.music_key-09A{
			color:#ffe757;
		}
		.music_key-09B{
			color:#fff2a0;
		}
		.music_key-10A{
			color:#ffb558;
		}
		.music_key-10B{
			color:#ffd5a0;
		}
		.music_key-11A{
			color:#e74d4d;
		}
		.music_key-11B{
			color:#f19997;
		}
		.music_key-12A{
			color:#ff4da9;
		}
		.music_key-12B{
			color:#ff99ce;
		}
		.list-container{
			width:32%;
		}
	</style>
{% endblock %}

{% block script %}
	{% javascripts
		'@AppSupplyWarakinBundle/Resources/public/js/soundmanagerv2/script/soundmanager2-nodebug-jsmin.js'

		'@AppSupplyWarakinBundle/Resources/public/js/jquery.tablednd.js'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/jquery.raty.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/main_tracktest.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/gui_tracktest.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playerFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playlistFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/libraryFunctions.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.charorder.min.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.min.js'
		'@AppSupplyWarakinBundle/Resources/public/js/wavesurfer.1.4.0.min.js'
		'@AppSupplyWarakinBundle/Resources/public/js/wavesurfer.1.2.3.plugin.regions.min.js'
		'@AppSupplyWarakinBundle/Resources/public/js/wavesurfer.1.3.1.plugin.minimap.min.js'

	%}
    	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script>
		$(function(){
			document.track_id={{track_id}};
		
			/* WAVESURFER */

			document.wavesurfer = WaveSurfer.create({
				container: '#waveform',
				scrollParent: true,
				hideScrollbar: true,
				pixelRatio: 1,
				progressColor:'rgba(0,0,0,0)',
				cursorColor:'#fff',
				cursorWidth:3,
				normalize: true
			});
			document.wavesurfer.load(PATH+SYMFONYROOT+'/data/track/fileById/'+document.track_id);
			document.wavesurfer.on('ready', function(){
				document.wavesurfer.zoom(30);

				{% for key,value in track_cuepoints %}
					document.wavesurfer.addRegion({
						start: {{value.position/1000}}, // time in seconds
						end: {{(value.position/1000)+0.1}}, // time in seconds
						color: '{{value.color|slice(0,7)}}'
					});
				{% endfor %}
				document.wavesurfer.initMinimap({
					container: document.querySelector('#minimap'),
					height: 30,
					waveColor: '#ddd',
					progressColor: '#999',
					cursorColor: '#68A93D'
				});
			});

		});
	</script>
{% endblock %}

{% block htmlContent %}
	<div class="trackSearchContainer" >
		<input type="text" id="trackManagerSearch" placeholder="Search library…">
	</div>
	<div id="libraryTabs" class="tabbable tabs">
		{% include "AppSupplyWarakinBundle:Components:tab-nav.component.html.twig" %}
		<div class="tab-content">
		    <div class="tab-pane active" id="libraryHome" style="position:relative;">
				<section class="metadata" style="width:calc(46% - 268px);height:72px;background:#1f1f1f;margin-bottom:8px;position:relative;display:block;color:#fff;">
					<h1 style="font-size:24px;display:block;position:absolute;top:2px;left:4px;font-weight:normal;margin:0;">
						{{track.title}}
					</h1>
					<h2 style="font-size:16px;display:block;position:absolute;bottom:0px;left:4px;font-weight:normal;margin:0;">{% if track.artist %}{{track.artist.getName()}}{% endif %}</h2>
					<h3 style="font-size:24px;display:block;position:absolute;top:2px;right:4px;font-weight:normal;margin:0;">{{track.getBPM()}} BPM</h3>
					<h3 style="font-size:24px;display:block;position:absolute;top:2px;right:-54px;font-weight:normal;margin:0;" class="music_key-{{track.getCamelotKey()}}">{{track.getCamelotKey()}}</h3>
					<h3 style="font-size:16px;display:block;position:absolute;bottom:0px;right:4px;font-weight:normal;margin:0;">
						<span style="margin:0 4px 0 6px;">{{ '%02d'|format(  track.length / 3600 )  }}:{{ '%02d'|format(  track.length / 60 )  }}:{{ '%04.1f'|format(  ( track.length % 60 )    ) }}</span>
					</h3>
					<button class="btn btn-primary" onclick="document.wavesurfer.playPause()" style="position:absolute;bottom:0px; right:-59px;">
						<i class="glyphicon glyphicon-play"></i>
						Play
					</button>
				</section>
				<section 
					class="livedata" 
					style="border-radius:160px;height:170px;width:200px;background:white;text-align:center;font-weight:bold;color:#000;font-size:36px;padding-top:28px;position:absolute;left:calc(46% - 200px);top:24px;">

					<p id="liveBPM" style="">128</p>
					<p id="livePlayed" style="margin-top:72px;">00:00.0</p>
					<p id="liveRemaining">00:00.0</p>
				</section>
				<section class="volumeControl">
					<input id="valumeControl" class="volumeControl" value="100" />
				</section>
				<section class="collectionMeta">
					{% if track.getLastFmTags() | length != 0 %}
						<ul class="tags" >
							{% for key,value in track.getLastFmTags() %}
								{% include "AppSupplyWarakinBundle:Components:tag.component.html.twig" %}
							{% endfor %}
						</ul>
					{% endif %}
				</section>
				<ul class="cue-container" style="display:inline-block; max-width:220px; height: 140px; padding:0; margin:0;column-count: 2	;">
					{% for key,value in track_cuepoints %}
							<li  style="background-color:#1f1f1f; border-radius:4px; display:inline-block; max-width:92pxpx; padding:0; margin:2px 0;bullet-style:none;overflow:hidden;">
								<a href="#" onclick="document.wavesurfer.play({{value.position/1000}})" style="color:#ccc;padding-left:0;padding-right:4px;font-weight:bold;">
									<span style="padding:0 6px;border-radius:4px;display:inline-block;background-color:{{value.color|slice(0,7)}};color:#fff;">&gt;</span>
									<span style="margin:0 4px 0 6px;">{{ '%02d'|format(  value.position / 3600000 )  }}:{{ '%02d'|format(  value.position / 60000 )  }}:{{ '%04.1f'|format(  ( value.position % 60000 )  / 1000  ) }}</span>
								</a> 
							</li>
					{% endfor %}
				</ul>
				<div id="waveform" class="wavesurfer"></div>


				
			    <div class="list-container">
					<h3>Related Artists</h3>
					<ul>
					{% for key,value in relatedLastFmArtists %}
						<li  style="background-color:#1f1f1f; border-radius:4px;  max-width:92pxpx; padding:0; margin:2px 0;bullet-style:none;overflow:hidden;">
							<a href="javascript:loadArtist({{value.id}})"> <span style="margin:0 4px 0 6px;">{{value.name}}</span> test</a>
						</li>
					{% endfor %}
					</ul>
					<h3>Related Playlists</h3>
					<ul>
					{% for key,value in track.getPlaylistTracks() %}
						<li  style="background-color:#1f1f1f; border-radius:4px;  max-width:92pxpx; padding:0; margin:2px 0;bullet-style:none;overflow:hidden;">
							<span style="margin:0 4px 0 6px;">{{value.getPlaylist().name}}</span>
						</li>
					{% endfor %}
					{% if track.getPlaylistTracks() | length == 0 %}
						<li  style="background-color:#1f1f1f; border-radius:4px;  max-width:92pxpx; padding:0; margin:2px 0;bullet-style:none;overflow:hidden;">
							<span style="margin:0 4px 0 6px;">Not in any playlists</span>
						</li>
					{% endif %}
					</ul>
				</div>
				<div class="list-container">
					<h3>Related Tracks</h3>
					<ul class="new-style">
					{% for key,value in track.getRelatedLastFmTracks() %}
						{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}	
					{% endfor %}
					<ul>
				</div>
				<div class="list-container">
					<h3>Related Tracks by Harmonic match</h3>
					<ul class="new-style">
					{% for key,value in track.getRelatedLastFmTracksByHarmony(track.getCamelotKey()) %}
						{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
					{% endfor %}
					<ul>
				</div>
			</div>
		    <div class="tab-pane active" id="libraryPlaylist">
				<ul class="playlist header">
					  <li>
						<span class="mini drag"></span>
					  	<span class="num">&nbsp;</span>
					  	<span class="artist">artist</span>
					  	<span class="album">album</span>
					  	<span class="short year">year</span>
					  	<span class="title">title</span>
					  	<span class="genre">genre</span>
					  	<span class="short bitrate">kb/s</span>
						<span class="short bpm"><i class="fa fa-tachometer"></i></span>
						<span class="short music_key">music key</span>
					  	<span class="short duration">length</span>
						<span class="mini playnext" onclick="javascript:generateNextTracks($(this).parent())"><i class="fa fa-graduation-cap"></i></span>
					  	<span class="rating">rating</span>
						<span class="mini spotify"><i class="fa fa-spotify"></i></span>
						<span class="mini last_fm_url"><i class="fa fa-lastfm"></i></span>
						<span class="mini serato"><img src="bundles/appsupplywarakin/img/icons/serato-icon-grey.png" width="16"/></span>
						<span class="mini add_to_list"><i class="fa fa-cloud-upload"></i></a></span>
						<span class="mini remove" onclick="javascript:clearPlaylist();"><i class="fa fa-times"></i></span>
					  </li>
				</ul>
				<ul class="playlist" id="playlist">
				</ul>
				<ul class="footer playlist">
					  <li>
						<span class="mini drag"></span>
					  	<span class="num">PLS:</span>
					  	<span class="playlistname" id="playlistname"></span>
					  	<span class="genre"><i class="fa fa-floppy-o" onclick="javascript:updatePlaylist();"></i></span>
					  	<span class="short bitrate"></span>
						<span class="short bpm"></span>
					  	<span class="short duration"></span>
						<span class="mini spotify"></span>
						<span class="mini last_fm_url"></span>
						<span class="mini last_fm_url"></span>
					  	<span class="rating"></span>
					  	<span class="mini">
					  		<a href="#" id="repeat-switch"><i class="fa fa-repeat"></i></a>
					  	</span>
					  	<span class="mini">
					  		<a href="#" id="shuffle-switch"><i class="fa fa-random"></i></a>
					  	</span>
					  	<span class="mini">
							<a href="#" id="auto-playnext-switch" class="auto-play-next active"><i class="fa fa-graduation-cap"></i></a>
					  	</span>
					  </li>
				</ul>

		    </div>
		    <div class="tab-pane" id="libraryArtists">
				<div class="pagination pagination-small">
				  <ul>
				    <li><a >#</a></li>
				  	<li><a id="libraryArtistsA">A</a></li>
				  	<li><a id="libraryArtistsB">B</a></li>
				  	<li><a id="libraryArtistsC">C</a></li>
				  	<li><a id="libraryArtistsD">D</a></li>
				  	<li><a id="libraryArtistsE">E</a></li>
				  	<li><a id="libraryArtistsF">F</a></li>
				  	<li><a id="libraryArtistsG">G</a></li>
				  	<li><a id="libraryArtistsH">H</a></li>
				  	<li><a id="libraryArtistsI">I</a></li>
				  	<li><a id="libraryArtistsJ">J</a></li>
				  	<li><a id="libraryArtistsK">K</a></li>
				  	<li><a id="libraryArtistsL">L</a></li>
				  	<li><a id="libraryArtistsM">M</a></li>
				  	<li><a id="libraryArtistsN">N</a></li>
				  	<li><a id="libraryArtistsO">O</a></li>
				  	<li><a id="libraryArtistsP">P</a></li>
				  	<li><a id="libraryArtistsQ">Q</a></li>
				  	<li><a id="libraryArtistsR">R</a></li>
				  	<li><a id="libraryArtistsS">S</a></li>
				  	<li><a id="libraryArtistsT">T</a></li>
				  	<li><a id="libraryArtistsU">U</a></li>
				  	<li><a id="libraryArtistsV">V</a></li>
				  	<li><a id="libraryArtistsW">W</a></li>
				  	<li><a id="libraryArtistsX">X</a></li>
				  	<li><a id="libraryArtistsY">Y</a></li>
				  	<li><a id="libraryArtistsZ">Z</a></li>
				  </ul>
				</div>

				{#

				{% for key,value in artists %}
					<div id="artist{{key}}" class="row" data-offset="0">
						<h3>{{key}}</h3>
						<ul>
						{%
							for artistKey,artistValue in value
						%}<li class="artistBtn"
								{% if artistValue.images %}
									style="background-image:url('{{artistValue.images.extralarge}}');"
								{% endif %}
							><span class="container">
							    <h4>{{ artistValue.name }}</h4>
							    {% for key,val in artistValue %}
								  		<!-- {{ key }}:
								   		{{ val }}<br> -->
								{% endfor %}
							</span></li>{%
							endfor
						%}
						</ul>
					</div>
				{% endfor %}

				#}

				<div id="artistList" class="row" data-offset="0">
					<div class="span4" id="artistList1">

					</div>
					<div class="span4" id="artistList2">

					</div>
					<div class="span4" id="artistList3">

					</div>
				</div>
				<ul class="pager  pagination-small">
				  <li class="previous">
				    <a href="#">&larr; previous</a>
				  </li>
				  <li class="next">
				    <a href="#">next &rarr;</a>
				  </li>
				</ul>
		    </div>
		    <div class="tab-pane" id="libraryGenres">
				<div id="genreList" class="row" data-offset="0">
					<div class="span3" id="genreList1">

					</div>
					<div class="span3" id="genreList2">

					</div>
					<div class="span3" id="genreList3">

					</div>
					<div class="span3" id="genreList4">

					</div>
				</div>
		    </div>
		    <div class="tab-pane" id="libraryGenre">
				<div id="genreDetails" class="row" data-offset="0">
	              <div class="span4">
	                <div class="thumbnail">
	                  <img alt="300x300" style="width: 300px; height: 300px;" src="bundles/appsupplywarakin/img/defaultAlbum.png">
	                  <div class="caption">
	                    <p class="wiki">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
	                  </div>
	                </div>
	              </div>
	              <div class="span4">
	              	<div id="genreArtistList" class="well">
	              		<h3>Artists</h3>
	              		<ul></ul>
	              	</div>
	              </div>
	              <div class="span4">
	              	<div id="genreAlbumList" class="well">
	              		<h3>Albums</h3>
	              		<ul></ul>
	              	</div>
	              </div>
				</div>
		    </div>
		    <div class="tab-pane" id="libraryArtist">
				<div class="row" data-offset="0">
					<div class="span3 artistCover">
						<img alt="300x300" src="bundles/appsupplywarakin/img/defaultAlbum.png">
	              	</div>
	                <div class="artistDescription span9">
	                	<h2>Artist name</h2>
                    	<p class="wiki">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                </div>
	            </div>
				<!--div class="span2">X Favorites</div>
				<div class="span2">X Albums</div>
				<div class="span2">X Tracks</div-->
				<div id="artistAlbumTrackList"></div>
				<div class="row" data-offset="0">
		            <div class="span4">
		              	<div id="artistStats" class="well">
		              		<h3>Genres</h3>
		              		<ul></ul>
		              		<h3>Related artists</h3>
		              		<ul></ul>
		              	</div>
		            </div>
		            <div class="span4">
		              	<div id="artistAlbumList" class="well">
		              		<h3>Albums</h3>
		              		<ul></ul>
		              	</div>
					</div>
					<div class="span4">
						<div id="artistTracksList" class="well">
							<h3>Tracks</h3>
							<ul></ul>
						</div>
					</div>
				</div>
	        </div>
		    <div class="tab-pane" id="libraryTracks">
		    </div>
		    <div class="tab-pane" id="libraryPlaylists">
	          	<h3>Playlists</h3>
		      	<p>Playlistts synched from your Plex collection. Spotify will be added when the great
				  unifying web api move has been implemented to play remote content.</p>
		    </div>
		    <div class="tab-pane libraryPlaylistGenerator disable-select no-white-space" id="libraryPlaylistGenerator">
				<div class="numSongsSetting">
			    	<label for="num_songs">Number of songs:</label><input type="number" name="num_songs" id="num_songs" value="60" min="0" max="500" step="1"/>
				</div>
				<div class="playnextSetting" id="playnextSetting">
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option01" value="random" checked="checked" />
					<label for="playnext_setting_option01"><span>SO Random</span><span>*spork*</span></label>
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option02" value="explore"/>
					<label for="playnext_setting_option02"><span>To boldly listen!</span><span>*what no one has listen before. Or at least not you*</span></label>
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option03" value="favorites"/>
					<label for="playnext_setting_option03"><span>I know what I like</span><span>Give preference to favorites with a rating over 3 stars</span></label>
					<input type="radio" name="playnext_setting_option" id="playnext_setting_option04" value="behaviour"/>
					<label for="playnext_setting_option04"><span>Everything is connected</span><span>Play me songs based on my recent (last 4 weeks) behaviour</span></label>
				</div>
				<div class="songLengthSetting">
					<label for="song_length_min">Minimum song length:</label><input type="number" name="song_length_min" id="song_length_min" value="0"/><span class="unit">minutes</span>
					<label for="song_length_max">Maximum song length:</label><input type="number" name="song_length_max" id="song_length_max" value="6"/><span class="unit">minutes</span>
				</div>
				<div>
			    	<label for="song_age">Minimum song age:</label><input type="number" name="song_age_min" id="song_age_min" value="0" min="0" max="50" /><span class="unit">years</span>
					<label for="song_age">Maximum song age:</label><input type="number" name="max_song_age" id="song_age_max" value="0" min="0" max="150" /><span class="unit">years</span>
				</div>
				<div>
					<label for="playcount">Minimum song playcount:</label><input type="number" name="song_playcount_min" id="song_playcount_min" value="0" min="0" max="20" /><span class="unit">plays</span>
					<label for="playcount">Maximum song playcount:</label><input type="number" name="song_playcount_max" id="song_playcount_max" value="0" min="0" max="20" /><span class="unit">plays</span>
				</div>
				<div>
					<label for="playcount">Minimum song rating:</label><input type="number" name="min_rating" id="min_rating" value="0" min="0" max="10" /><span>stars</span>
				</div>
				<div>
					<label for="serato">Serato:</label>
					<div class="squaredOne">
						<input type="checkbox" value="serato" id="serato" name="serato"  />
						<label for="serato"></label>
					</div>  &nbsp;has at least 3 serato cue points
					<label for="match_harmonic">Harmonic match:</label>	
					<div class="squaredOne">
						<input type="checkbox" value="match_harmonic" id="match_harmonic" name="match_harmonic"  />
						<label for="match_harmonic"></label>
					</div>  &nbsp;match harmony
					<label for="match_bpm">Tempo match:</label>	
					<div class="squaredOne">
						<input type="checkbox" value="match_bpm" id="match_bpm" name="match_bpm"  />
						<label for="match_bpm"></label>
					</div>  &nbsp;match bpm
				</div>
		    	<!--div>

					<div class="squaredOne">
						<input type="checkbox" value="None" id="squaredOne" name="check" checked />
						<label for="squaredOne"></label>
					</div>
				</div-->
				<div class="genreGroupSettings" id="genreGroupSettings">
				</div>
		    	<div class="row">
					<div class="span12">

						<!--label><input type="checkbox" name="favorites" id="favorites" value="1" /> Only favorites </label>

						<p>Choose as many genres as you'd like:</p>
						<div data-role="controlgroup" id="generatorGenreList">
						</div>

					<!--
						<input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom" />
						<label for="checkbox-2a">Genre2</label>
					-->
					</div>
				</div>
				<div class="generateButton">
					<a class="btn" id="generatePlaylistButton" >generate playlist</a>
				</div>
		    </div>
		    <!--div class="tab-pane" id="libraryStats">
	            <h3>Statistics</h3>
		      	<p>I'm in Section 5.</p>
		    </div>
		    <div class="tab-pane" id="libraryTools">
		    	<h3>Tools</h3>
		      	<p>I'm in Section 5.</p>
		    </div-->
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<!-- Button to trigger modal -->
			<!--a href="#loaderModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a-->

			<!-- Modal -->
			<div id="loaderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="true"  data-backdrop="static">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="loaderModalLabel">Loading</h3>
			  </div>
			  <div class="modal-body">
			    <p>Loading ...</p>
			  </div>
			  <!--div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button class="btn btn-primary">Save changes</button>
			  </div>
			</div-->
		</div>

		<div id="saveTrackToPlaylist" class="modal hide fade" data-id-track="NaN">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Choose the playlist</h3>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
	</div>
	<!--div id="player" class="nowPlaying">
		<div>
			<div class ="coverContainer">
				<img id="currentAlbumCover" class="media-object" src="bundles/appsupplywarakin/img/defaultAlbum.png">
			</div>
			<div id="playControls">
				<a id="backButton">
					<i class="fa fa-step-backward"></i>
				</a>
				<a id="playButton">
					<i class="fa fa-play-circle"></i>
				</a>
				<a id="pauseButton">
					<i class="fa fa-pause-circle"></i>
				</a>
				<a id="forwardButton">
					<i class="fa fa-step-forward"></i>
				</a>
			</div>
			<div class="trackPropertiesContainer">
				<p>
					<span id="artistName">Artist Name</span>
					<span id="trackName">TrackName</span>
					<span id="albumName">AbumName</span>
				</p>
			</div>
			<div class="trackDetailsContainer">
				<p>
					<span id="bitrate">192 Kbps</span><br/>
					<span id="frequency">44.100 Khz</span>
				</p>
			</div>
		</div>
		<div class="progressbarContainer" id="progressBarContainer">
			<div id="loadProgressBar" class="progress progress-striped  progress-warning"><div class="bar"></div></div>
			<div id="trackProgressBar" class="progress progress-striped  progress-danger"><div class="bar"></div></div>
		</div>
	</div-->
{% endblock %}

{% block javascriptHtmlTemplates %}
	<ul class="playlist">
		{% include "AppSupplyWarakinBundle:Components:queue-track.component.html.twig" %}
	<ul>
	<ul class="albumlist">
		<li class="album">
			<span class="coverContainer"><img src="" /></span>
			<span class="artistName>Artist</span>
			<span class="albumName>Album</span>
			<span><i class="fa fa-lastfm"></i></span>
			<span><i class="fa fa-spotify"></i></span>
			<span><i class="fa fa-graduation-cap"></i></span>
		</li>
	</ul>
{% endblock %}
