
/* MOBILE TWEAKS */

@media screen and (max-width: 640px) {
	.modal{
		max-width:100%;
		margin-left:-50%;
		height:100%;
		top:0 !important;
		.modal-body{
			max-height: calc(~"100% - 140px");
		}
    }
    .list-container{
        width:100%;
    }
	#libraryTabs .tab-content .tab-pane{
		height: 100%;/*calc(~"100% - 28px");*/
	}
	.nowPlaying{
		height:70px;
		.coverContainer{
			width:80px;
			img#currentAlbumCover{
				/*width:80px;
				height:80px;*/ 
				min-height:initial;
				margin-left:0;
				left:0;
				top:0;
			}
		}
		#playControls {
			position: absolute;
			left: calc(~"100% - 64px");
			top: -1px;
			> a:first-child, 
			> a:last-child{
				display:none;
			}
			> a:nth-child(2),
			> a:nth-child(3){
				font-size:64px;
				padding:2px 0;
			}
		}
		.trackPropertiesContainer{
			width:calc(~"100% - 140px");
			top:2px;
			left:72px;
		}
		.trackDetailsContainer{
			display:none;
		}
		.progressbarContainer{
			top:64px;
		}
	}
	#libraryPlaylist ul.playlist{
		padding-bottom:0;
		max-height:auto;
		&.header{
			position:fixed;
			z-index:1;
			li{
				background: black;
				display: block;
				height: 24px;
				> span{
					display:none;
				}
				> span.remove{
					display:block;
					position: relative;
					left: calc(~"100% - 28px");
					top: -4px;
				}
			}
		}
		&.footer{
			display:none;
		}
		/* playlist queue */
		&:nth-child(2){
			height: calc(~"100% - 26px");
			li:first-child{
			}
		}
		li{
			position:relative;
			overflow:hidden;
			span{
				&.drag{
					display:none;
				}
				&.num{
					width:6%;
					text-align:right;
					position:absolute;
					left:0px;
				}
				&.num:before{
				    content:counter(number);
				}
				&.artist,
				&.album,
				&.title{
					width:85%;
					margin-left:10%;
					padding-bottom:0;
				}
				&.year,
				&.genre,
				&.bitrate{
					display:none;
				}
				&.rating{
					width:auto;
					margin-left:10%;
					margin-bottom:4px;
					font-size:1.4em;
					.rating_display{
						/*width:140px !important;*/
					}
				}
				&.bpm{
					display:none;
				}
				&.duration{
					display:inline-block;
					position:absolute;
					right:7%;
					top:0;
					width:37%;
					text-align:right;
				}
				&.remove{
					width:5%;
					text-align:right;
				}

				/* minis */

				&.spotify,
				&.last_fm_url,
				&.playnext,
				&.add_to_playlist,
				&.serato{
					position:absolute;
				}
				&.playnext{
				}
				&.add_to_playlist{
					right: 4px;
					bottom: 4%;
				}
				&.spotify{
					left: 54%;
					bottom: 4%;
				}
				&.last_fm_url{
					left: 62%;
					bottom: 4%;
				}
				&.serato{
					left: 70%;
					img{
						margin-top: -2px;
					}
				}
	
			}
		}
	}
	#libraryArtist{
		.albumContainer{
			border-bottom:1px solid @medium-highlight-color;
			padding:8px 0px;

			.coverContainer{
				width:100%;
				display:block;
				position:relative;
				.cover{
					width:100%;
					margin-bottom: 16px;
				}
			}
			div.trackContainer{
				display:block;
				width:100%;
				margin-left:0;
				min-height:initial;
				h1{
					font-size:18px;
					line-height:18px;
				}
			}
		}
	}
	#libraryPlaylist{
		padding:0;
		.track{
			.remove{
				position:absolute;
				top:0;
				right: 8px;
			}
		}
	}
	#libraryArtist{
		.artistDescription{
			width:calc(~"100% - 16px");

			h2{
				font-size:20px;
				line-height:20px;
				margin-top:8px;
			}
		}
		.row .artistCover{
			width:calc(~"100% - 16px");
			img{
				width:100%;
				max-width:none;
			}
		}
		.track{
			.artist{
				display:none;
			}
			.album{
				display:none;
			}
		}
	}
	.nav-tabs{
		li{
			width:11.6%;
			span{
				display:none;
			}
		}
	}
	#libraryPlaylists{

		li > .align-right{
			position:static;
			width: 100%;
			display: inline-block;
		}
	}

	.libraryPlaylistGenerator{
		.generateButton{
			bottom:70px;
		}
		div{
			label{
				width:calc(~"100% - 48px");
				display:block;
			}
			input[type="number"]{
				width:calc(~"100% - 120px");
				margin-left:12px;
				margin-top:6px;
				margin-bottom:16px;
			}
		}
		.playnextSetting,
		.genreGroupSettings{
			label{
				width:calc(~"100% - 48px");
				span:nth-child(2){
					top:40px;
				}
			}
		}
		.playnextSetting{
			label{
				height:60px;
				margin-bottom:4px;
			}
		}
		div#generatorGenreList {
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
			-moz-column-count: 1; /* Firefox */
			column-count: 1;
		}
	}
}