ul.new-style{
    li{
        background-color:#313131; 
        border-radius:4px;  
        max-width:92pxpx; 
        padding:0; 
        margin:2px 0;
        bullet-style:none;
        overflow:hidden;
		position:relative;
		
		> p 
		{
			margin:0;
			> *{
            	margin:0 4px 0 6px;	
			}
        }
        > p > .align-right{
            position:absolute;
            right:6px;
            top:4px;
        }
        .btn{
            margin-left:6px;
		}

		/* TRACK PROPERTIES */
		&.track{
			border-radius:4px;  padding:0; margin:3px 0; bullet-style:none;overflow:hidden;display:block;
			vertical-align: text-top; font-size:12px;
			
			span{
				vertical-align: text-top;
				display:inline-block;
				overflow:hidden;
				&.drag{
					cursor:grab;padding:0 3px;border-radius:4px;display:inline-block; width:12px; text-align:right;
				}
				&.num{
					width: 2%;
				}
				&.cover{
					> img{
						height: 36px;
					}
				}
				&.artist{
					display:inline-block; /*width:calc(~"100% - 160px");*/
				}
				&.album{
					display:inline-block; /*width:calc(~"100% - 160px");*/
				}
				&.title{
					display:inline-block; width:calc(~"100% - 850px");
				}
				&.genre{
					display:inline-block; width:160px;
				}
				&.bitrate{
					padding:0 3px;border-radius:4px;display:inline-block; width:36px; text-align:right;
				}
				&.rating{
					padding:0 3px;border-radius:4px;display:inline-block; width:100px; text-align:right;margin:0 4px 0 6px;margin-left:0px;
					span.rating_display{
						padding:0;
					}
				}
				&.bpm{
					padding:0 3px;border-radius:4px;display:inline-block; width:44px; text-align:right;
				}
				&.playlists{
					padding:0 3px;border-radius:4px;display:inline-block; width:24px; text-align:right;
				}
				&.duration{
				}
				&.music_key{
					padding:0 3px;border-radius:4px;display:inline-block; width:36px; text-align:right;
				}
				&.serato{
					width:22px;
					&:not(:empty){
						background:url('./../img/icons/serato-icon-grey.png') right 4px no-repeat;
						background-size: 12px 12px;
					}
				}
				&.mini{
					min-width:16px;
					max-width:16px;
					overflow:hidden;
				}
			}
			/* BITRATE COLORING */
			.bitrate-32,
			.bitrate-64,
			.bitrate-96
			{
				color:#e74d4d;
			}
			.bitrate-128,
			.bitrate-160
			{
				color:#ffb558;
			}
			.bitrate-192,
			.bitrate-224
			{
				color:#ffe757;
			}
			.bitrate-256,
			.bitrate-288,
			.bitrate-320
			{
				color:#7ef478;
			}


			/* CAMELOT KEYS */
			.music_key-01A{
				color:#df80e2;
			}
			.music_key-01B{
				color:#ecb7f0;
			}
			.music_key-02A{
				color:#86749f;
			}
			.music_key-02B{
				color:#baafc7;
			}
			.music_key-03A{
				color:#6c90c4;
			}
			.music_key-03B{
				color:#acc0dd;
			}
			.music_key-04A{
				color:#58bcf8;
			}
			.music_key-04B{
				color:#9fdafc;
			}
			.music_key-05A{
				color:#4fe5ea;
			}
			.music_key-05B{
				color:#9bf1f2;
			}
			.music_key-06A{
				color:#51d392;
			}
			.music_key-06B{
				color:#9be5c2;
			}
			.music_key-07A{
				color:#7ef478;
			}
			.music_key-07B{
				color:#a2f79c;
			}
			.music_key-08A{
				color:#b1e55c;
			}
			.music_key-08B{
				color:#d3efa1;
			}
			.music_key-09A{
				color:#ffe757;
			}
			.music_key-09B{
				color:#fff2a0;
			}
			.music_key-10A{
				color:#ffb558;
			}
			.music_key-10B{
				color:#ffd5a0;
			}
			.music_key-11A{
				color:#e74d4d;
			}
			.music_key-11B{
				color:#f19997;
			}
			.music_key-12A{
				color:#ff4da9;
			}
			.music_key-12B{
				color:#ff99ce;
			}
		}
	}
	&.album li{
		span.cover{
			display:none;
		}
	 	span.title{
			width:calc(~"100% - 930px");
		}
		span.genre select{
			display:none;
		}
	}
}

h3.list-header{
    background: #fff;
    color: #000;
    height: 24px;
    font-size: 1.2em;
    line-height: 1.6em;

    span{
        display: inline-block;
        height: 24px;
        width: 24px;
        background: #f90;
        text-align: center;
        &:first-child{
            background-color:#aaa;
        }
        &:nth-child(2){
            margin-right:12px;
        }
    }
}

ul.new-list{
    margin:0;
    padding:0 0 0 24px;
    li{
        background: rgba(255,255,255,.8);
        list-style: none;
        padding: 2px;
        margin-bottom: 4px;
        &:hover{
            background: rgba(255,255,255, 1);  
        }
    }
}


ul.tags {
    display: block;
    list-style: none;
    position: absolute;
    left: 64%;
    top: 12px;
	width: 33%;
	> li.tag{
		display: inline-block;
		border-radius:3px;
		font-size:.86em;
		line-height:.86em;
		height:15px;
		padding-top:1px;
		background:@medium-highlight-color;
		color:@light-shadow-color;
		padding-right:4px;
	}
}

/* styling for summarizing list, ie. displaying a narrow version of the full list */

.list-container > ul.new-style{
	margin:0;
	> li{
		padding-bottom:3px;
		> p{
			font-size:12px;
			margin:0 0 0 70px;
			> span{
				&.interactive{
					display:none;
				}
				&.num{
					display:none;
				}
				&.drag{
					position:absolute;left:3px;top:2px; margin: 0;
				}
				&.cover{
					position: absolute;
					left: 20px; top: 4px; 
					max-width:36px;
					overflow:hidden;
				}
				&.title{
					display:block; margin:0; width:calc(~"100% - 86px");
					font-size:14px;
				}
				&.artist{
					display:block; margin:0; margin-top:2px; width:calc(~"100% - 100px");
					/*&::after {
						content: " - ";
					}*/
				}
				&.genre{
					position:absolute; right:40px; top:2px; width:auto;
					select{
						display:none;
					}
				}
				&.rating{
					position:absolute;right:0; top:2px;
				}
				&.serato{
					position:absolute;right:3px; top:22px;
				}
				&.duration{
					position: absolute;
					right: 4px;
					bottom: 4px;
				}
				&.music_key,
				&.year,
				&.album,
				&.bitrate,
				&.bpm,
				&.playlists{
					display:none; 
				}
			}
		}
	}
}

/* Styling for play queue */

#libraryPlaylist{
	ul.new-style{
		&.header,
		&.footer{
			border-bottom: 1px solid #f1f1f1;
			max-height:34px;
			margin: 0;
			li.track{
				background:none;
				& p > span.num{
					width: 2%;
					display: inline-block;
				}
				& p > span.cover{
					width: 20px;
				}
			}
		}
		&.footer{
			border-bottom: 0;
			border-top: 1px solid #f1f1f1;
		}
		& > li.track > p{
			display:flex;
			& > span{
				padding:0;

				&.drag{
				}
				&.artist{
					/*width: calc(~"17% - 66px");*/
					flex:1;
				}
				&.album{
					/*width: calc(~"19% - 120px");*/
					flex:2;
				}
				&.title{
					/*width:20%;*/
					flex:2;
				}
				&.serato{
					height: 20px;
				}
				&.duration{
					max-width: 24px;
				}
				&.cover{
					> img{
						height: 20px;
					}
				}
			}
			select, input[type="file"] {
				height: 24px;
				*margin-top: 4px;
				line-height: 24px;
			}
		}
	}
}


/* smartphone styling */

@media screen and (max-width: 640px) {
	#libraryPlaylist{
		> ul.new-style > li.track{
			padding-bottom:3px;
			> p{
				font-size:12px;
				margin:0 0 0 80px;
				display:block;
				> span{
					&.drag{
						position:absolute;left:3px;top:2px;
					}
					&.num{
						left:0px;
					}
					&.cover{
						left:32px; top:4px; position: absolute; width:36px;
						> img{
							height: 36px;
						}
					}
					&.title{
						display:block; margin:0; width:calc(~"100% - 40px");flex:none;
						font-size:14px;
					}
					&.artist{
						display:block; margin:0; margin-top:2px; width:calc(~"100% - 130px"); flex:none;
						/*&::after {
							content: " - ";
						}*/
					}
					&.genre{
						position:absolute; right:40px; top:2px; width:auto;
						select{
							display:none;
						}
					}
					&.rating{
						position:absolute;right:24px; top:2px;width:120px;
						> .rating_display{
							width:120px;padding:0;
						}
					}
					&.serato{
						position:absolute;right:3px; top:22px;
					}
					&.playnext{
						right: 4px; top: calc(~"50% - 12px");
					}
					&.duration{
						position: absolute;
						right: 24px;
						/* bottom: 4px; */ top: calc(~"100% - 22px");
						height: 12px;
					}
					&.music_key,
					&.year,
					&.album,
					&.bitrate,
					&.bpm,
					&.playlists,
					&.info,
					&.last_fm_url,
					&.spotify{
						display:none; 
					}
				}
			}
		}
		> ul.new-style.header > li.track{
			margin:0;
			margin-top:1px;
			padding:0;
			> p{ 
				> span{
					display:none;
				}
				> span.remove{
					display:block;
				}
			}
		}
	}
}