

.nowPlaying{
	background: @medium-shadow-color;
    color: @medium-highlight-color;
    padding-top: 0;
    margin: 0;
    /* margin-bottom: 8px; */
    height: 102px;
    width: 100%;
    position: fixed;
	bottom:0;
	left:0;

	#currentAlbumCover{
		width: 64px;
		height: 64px;
		position: absolute;
		top: 16px;
		left: 16px;
	}

	#playControls{
		position:absolute;
		left:calc(~"50% - 80px");
		top:0;
		> a{
			display:block;
			float:left;
			text-align:center;
			border-radius:0;
			width:64px;
			padding:32px 0px;
			&:hover{ 
				color:@medium-highlight-color;
			}
		}
		> a:first-child,
		> a:last-child{
			width:48px;
			font-size:33px;
		}
		> a:nth-child(2),
		> a:nth-child(3){
			font-size:66px;
			padding:15px 0px;
		}
		#pauseButton{
			display: none;
		}
	}

	.trackPropertiesContainer{
		width:calc(~"50% - 168px");
		position: absolute;
		left: 96px;
		top: 17px;
		p > span{
			text-overflow: ellipsis;
			/* Required for text-overflow to do anything */
			white-space: nowrap;
			overflow: hidden;
			display:block;
			&#albumName{
				color:@deep-highlight-color;
			}
		}

	}
	.trackDetailsContainer{
		display:none;
	}
	#trackName{
	}

	
	.progressbarContainer{
		position:absolute;
		top:96px;
		left:0;
		width:100%;
		background:#000;
		margin-bottom:0;
		.cuePoint{
			color:lime;
			position:absolute;
			bottom:5px;
			display:block
			width:0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			
			border-top: 10px solid lime;
			margin-left:-5px;
		}
		.bar{
			height:6px;
			border-radius:0;
		}
		#trackProgressBar,
		#loadProgressBar{
			height:6px;
			border-radius:0;
			margin-bottom:0;
			background:@deep-shadow-color;
		}
		#loadProgressBar{
			margin-bottom:-6px;
			.bar{
				background:@light-shadow-color;
			}
		}
		#trackProgressBar{
			background:transparent;
			.bar{
				background:@primary-color;
			}
		}
	}
}