@primary-color:#D83F3F;
@secondary-color:#ff0000;

@light-highlight-color:#fff;
@medium-highlight-color:#ccc;
@deep-highlight-color:#888;

@light-shadow-color:#414141;
@medium-shadow-color:#313131;
@deep-shadow-color:#212121;

.preloader{
	height:100%;
	width:100%;
	position:absolute;
	top:0;left:0;
	background:black;
	.content{
		width:330px;
		height:240px;
		position:relative;
		left:calc(~'50% - 165px');
		top:calc(~'50% - 120px');
		text-align:center;
		/*padding-top:320px;
		background:url('./../img/defaultAlbum.png') center top no-repeat;
		background-size: contain;*/
	}
}

/**
 *	Bootstrap overwrites
 */
.nav-tabs{
	text-align:center;
	margin-bottom:0;
	& > li{
		float:none;
		display:inline-block;
	}
}

.btn{
	border-radius:0;
	/* border:1px solid black; */
}

a{
	color:@primary-color;
	&:hover,
	&:focus{
		color:#000;
	}
}

.tab-pane{
	padding:16px;
	padding-bottom:104px;
	color:@medium-highlight-color;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select{
	background:@deep-shadow-color;
	color:@medium-highlight-color;
	border:0;
	font-size:12px;
	/*font-family:'Everson Mono Latin 6';*/
	margin:0;
	/*padding:2px;*/
}

/**
 * 	Hide less errors; dirty fix for broken woff file in ratey plugin
 */
.less-error-message{
	display:none;
}

body,html{
	max-height:100%;
	height:100%;
	overflow-x:hidden;
}
body{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a3a3a+0,000000+68 */
    background: rgb(58,58,58); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(41,41,41,1) 0%, rgba(03,03,03,1) 68%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(41,41,41,1) 0%,rgba(03,03,03,1) 68%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(41,41,41,1) 0%,rgba(03,03,03,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#030303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#templates{
	display:none;
}

.container{
	max-height:100%;
	height:100%;
	width:100%;
}

.list-container{
	display:inline-block;
	vertical-align:top;
	width:23%;
}

.nowPlaying{
	background: @medium-shadow-color;
    color: @medium-highlight-color;
    padding-top: 0;
    margin: 0;
    /* margin-bottom: 8px; */
    height: 102px;
    width: 100%;
    position: fixed;
	bottom:0;
	left:0;

	#currentAlbumCover{
		width: 64px;
		height: 64px;
		position: absolute;
		top: 16px;
		left: 16px;
	}

	#playControls{
		position:absolute;
		left:calc(~"50% - 80px");
		top:0;
		> a{
			display:block;
			float:left;
			text-align:center;
			border-radius:0;
			width:64px;
			padding:32px 0px;
			&:hover{ 
				color:@medium-highlight-color;
			}
		}
		> a:first-child,
		> a:last-child{
			width:48px;
			font-size:33px;
		}
		> a:nth-child(2),
		> a:nth-child(3){
			font-size:66px;
			padding:15px 0px;
		}
		#pauseButton{
			display: none;
		}
	}

	.trackPropertiesContainer{
		width:calc(~"50% - 168px");
		position: absolute;
		left: 96px;
		top: 17px;
		p > span{
			text-overflow: ellipsis;
			/* Required for text-overflow to do anything */
			white-space: nowrap;
			overflow: hidden;
			display:block;
			&#albumName{
				color:@deep-highlight-color;
			}
		}

	}
	.trackDetailsContainer{
		display:none;
	}
	#trackName{
	}

	
	.progressbarContainer{
		position:absolute;
		top:96px;
		left:0;
		width:100%;
		background:#000;
		margin-bottom:0;
		.cuePoint{
			color:lime;
			position:absolute;
			bottom:5px;
			display:block
			width:0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			
			border-top: 10px solid lime;
			margin-left:-5px;
		}
		.bar{
			height:6px;
			border-radius:0;
		}
		#trackProgressBar,
		#loadProgressBar{
			height:6px;
			border-radius:0;
			margin-bottom:0;
			background:@deep-shadow-color;
		}
		#loadProgressBar{
			margin-bottom:-6px;
			.bar{
				background:@light-shadow-color;
			}
		}
		#trackProgressBar{
			background:transparent;
			.bar{
				background:@primary-color;
			}
		}
	}
}


/* SEARCH FORM */
.trackSearchContainer{
	max-width:100%;
	position: fixed;
	background-color: black;
	padding: 8px 0;
    width: 100%;
	
	/*width: calc(~"100% - 20px");
    position: absolute;
    top: 0;
    padding: 4px;
	margin: 0;*/
	
	input{
		background-color:@deep-shadow-color;
		color:@deep-highlight-color;
		border-color:@primary-color;
		border-radius:0;
		width:calc(~"100% - 16px");
	}
}

.ui-autocomplete{
	/*font-family:'Everson Mono Latin 6';*/
	color:@deep-highlight-color;
	background: @deep-shadow-color;
	border:none;
	font-size:.86em;
	> li{
		> a{
			color:@deep-highlight-color;
			> svg{height:.86em; width:.86em;}
			> div > img{
				height:12px;
			}
		}
	}
}


#libraryTabs{
	width:100%;    
	margin-top: 48px;
    height: calc(~"100% - 160px");
	 .tab-content{
		height:100%;
		max-height:100%;
		overflow:hidden;
		
		.tab-pane{
			height:100%;
			overflow-y:auto;
		}
	}
}



#artistList{
	min-height:180px;
}
.wiki .dablink,
.wiki .infobox.hlist,
.wiki .ambox,
.wiki .error{
	display:none;
}
#mainTab{
	height:100%;
	overflow-y:scroll;
}

/**
 *		Playlist styling
 */
ul.playlist li span.rating .rating_display i.star-on-png{
	color:@deep-shadow-color;
}

ul.playlist{
	display:block;
	width:100%;

	list-style:none;
	margin:0;
	padding:0;
	counter-reset:number;

	color:@medium-highlight-color;

	li {
		&.active{
			background:@primary-color;
			color:@deep-shadow-color;
			font-weight:bold;
			.serato{
		 		filter: brightness(-1.00);
			}
		}
		span{
			vertical-align:top;
			display:inline-block;
			padding:8px 0px;

			&.num{
				text-align:right;
				margin-right:.5%;
			}
			&.num:before{
			    counter-increment:number;
			    content:counter(number) ". ";
			}
			&.artist{
				width: calc(~"17% - 66px");
			}
			&.album{
				width: calc(~"19% - 120px");
			}
			&.title{
				cursor:pointer;
			}
			&.genre{
				padding:2px 0;
				select{
					width:100%;
				}
			}
			&.rating{
				margin:0 .5%;
				.rating_display{
					width: 100px; 
					i{
						display:inline-block;
						margin-top:3px;
						margin-bottom:-12px;
						font-size:1em;
						color:rgb(221, 221, 221);
						-webkit-text-stroke-width: .25px;
						-webkit-text-stroke-color: @medium-highlight-color;
						&.star-on-png{
							color:@medium-highlight-color;
						}
						&.star-half-png{
							color:@medium-highlight-color;
						}
					}
				}
			}

			/* shorts : items expressing a non string value ie. time, kbps, bpm etc. */
			&.short{
				text-align:right;
				margin-right:.5%;
			}
			&.year{
				width: 4ch;
				overflow: hidden;
				white-space: nowrap;
			}
			&.bitrate{
			}
			&.music_key{
				display:inline-block;
				border-radius:24px;
				text-align:center;
				color:@deep-shadow-color;
			}
			/* minis : iicons of a fixed with linking a modal list of ie. social related tracks, related artists */
			&.mini{
				text-align: center;
				cursor:pointer;
				&.remove{
					text-align:right;
				}
				&.drag{
					font-size:1.5em;
					width:30px;
					color:#ddd;
				}
				&.info,
				&.lastfm,
				&.spotify{
				}
				&.info{
				}
				&.spotify{
				}
				&.serato{
					img{
						margin-top:-4px;
					}
					visibility:hidden;
				}
			}

		}

	}

}


#libraryPlaylist{
	padding-top:0;
	padding-left:0;
	padding-right:0;
	ul{
		/*font-family: 'Everson Mono Latin 6';*/
		font-size:.96em;
		height: calc(~"100% - 100px");
		
		&.playlist:nth-child(2){
			max-height:none;
			overflow:auto;
		}
		&.header,
		&.footer{
			width: 100%/*calc(~"100% - 15px")*/;
			height:auto;
			overflow-y:hidden;
			li{
				span.num:before{
					content:"";
				}
				.playlistname{
					width:30%	;
					&.artist{
						width: calc(~"54% - 166px");
					}
				}
			}
			a.active{
				color:@primary-color;
			}
		}
		&.header{
			font-weight:bold;
		}
		&.footer{
			li{
				border-bottom:none;
			}
		}
	}
}

#playlist{
	overflow-y:scroll;
}


#libraryArtist{
	.artistCover{
		width:240px;
	}
	h2{
		margin-top:0px;
	}
	.albumContainer{
		position:relative;
		h1{
			span.artistName{
				display:none;
			}
		}
		.coverContainer{
			position:absolute;
			top:12px;
			left:0;
			.btn{
				width:calc( ~"100% - 26px");
				margin-bottom:16px;
			}
		}
		.track{
			.remove,
			.spotify,
			.last_fm_url,
			.playnext,
			/*.artist,*/
			.album,
			.year,
			.drag{
				display:none;
			}
		}
		&.variousartists .track .artist{
			display:inline-block;
		}
	}
}

.artistBtn{
	width:160px;
	height:160px;
	display:inline-block;

	background-image:url('./../img/defaultAlbum.png');
	background-size: cover;
	background-position: center;
	color:white;
		vertical-align: bottom;
		container{
		width:160px;
		height:160px;

		vertical-align:bottom;
		display:table-cell;

		h4{
			text-shadow: 0px 0px 5px #000;
			margin:5px 0 0 5px;
		}
	}
}


/* generic elements */

/* .squaredOne */
.squaredOne {
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	margin: 20px auto;
	background: @medium-highlight-color;
	padding-bottom:0 !important;
	label {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 4px;
		left: 4px;
		cursor: pointer;
		&:after {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			top: 2px;
			left: 2px;
			background: @primary-color;
			opacity: 0;
		}
		&:hover::after {
			opacity: 0.3;
		}
	}
	input[type=checkbox] {
		visibility: hidden;
		&:checked + label:after {
			opacity: 1;
		}   
	} 
}
	/* end .squaredOne */


.loading-spinner{
	/*position:relative;overflow:hidden;
	z-index:-1;*/
		background:url('./../img/ajax-loader.gif') no-repeat calc(100% - 4px) center;
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.no-white-space { white-space-collapse: discard; }


/**
 *	albumContainer div widget
 */

.albumContainer{
	/*border-bottom:1px solid @medium-highlight-color;*/
	padding:8px 0px;
	margin-bottom:24px;
	min-height:322px;

	.coverContainer{
		display:block;
		position:absolute;
		left:16px;
		vertical-align: top;
		width:240px;

		.cover{
			margin-bottom: 16px;
			box-shadow: 0px 0px 20px @deep-highlight-color;
		}
	}
	div.trackContainer{
		display:inline-block;
		width:calc(~"100% - 260px");
		margin-left:260px;
		min-height:286px;
		h1{
			margin-top:0px;
		}
	}
}

div#generatorGenreList {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}


.modal ol li.inList{
	background:#58bcf8;
}

@import "new-ul-style.less";

@import "playlist.component.less";
@import "playlistGenerator.pane.less";

@import "mobile-style.less";