ul.playlists{
    list-style:none;
    margin:0;

}

li.playlist{
    background-color:#515151; 
    border-radius:4px;  
    padding:4px 0 4px 0; 
    margin:2px 0;
    position:relative;
    > h4,
    > p{
        margin-left:24px;
        > span.icon{
            display:block;
            position:absolute;
            top:3px;left:6px;
        }  
        > span.type{
            display:block;
            position:absolute;
            top:3px;right:6px;
        }  
        > span > a{
            display: inline-block;
            border: 1px solid red;
            border-radius: 3px;
            padding: 0 4px;
            margin: 2px 0;
            &:hover{
                text-decoration: none;
            }
        }
    }
    > h4{
        margin-top:0;
    }


    > ul.new-style > li.track > p {
        > span{
           display:none;
        }
        > span.artist,
        > span.album,
        > span.title,
        > span.duration,
        > span.serato{
            display:inline-block;
        }
    }
}
