
.libraryPlaylistGenerator{
	.generateButton{
		text-align:center;
		position:fixed;
		bottom:102px;
		left:0;
		width:100%;
		background:@deep-shadow-color;
		padding:8px 0;
	}

	> div{
		padding-bottom:32px;
		text-align:left;
		label{
			font-size:2em;
			font-weight:bold;
			color:@medium-highlight-color;
			display:inline-block;
			width:calc(~"25% - 20px");
			padding:0 16px;
		}
		input[type="text"],
		input[type="number"]{
			font-size:2em;
			font-weight:bold;
			border-bottom:2px solid @medium-highlight-color;
			border-radius:0;
			padding-top:8px;
			margin-top:-8px;
			width:calc(~"25% - 112px");
			text-align:right;
		}
		> span{
			display:inline-block;
			margin-left:8px;
			width:66px;
		}
	}
	
	.numSongsSetting{
		label{
		}
		input[type="number"]{
			width:calc(~"75% - 40px");
		}
	}
	.songLengthSetting{
		label{
		}
		input[type="number"]{
		}
	}

	.playnextSetting,
	.genreGroupSettings{
		text-align:center;
		padding-bottom:8px;
		label{
			transition: all 0.36s ease;
			text-align:left;
			display:inline-block;
			position:relative;
			background-color:@medium-highlight-color;
			color:@deep-shadow-color;
			width:calc(~"25% - 48px");
			height:160px;
			padding:12px;
			margin:0 8px;
			margin-bottom:24px;
			span{
				position:absolute;
				&:first-child{
					font-weight:bold;
					display:block;
					padding-bottom:4px;
				}
				&:nth-child(2){
					font-size:.5em;
					font-weight:normal;
					top:80px;
				}
			}
		}
		input{
			visibility:hidden;
			position:absolute;
			height:0;
			width:0;
			bottom:0;
			right:0;
		}
		input[type="radio"]:checked+label,
		input[type="checkbox"]:checked+label{
			background-color:@primary-color;
		}
	}
	.genreGroupSettings{
		label{
			height:86px;
			span:nth-child(2){
				top:40px;
			}
		}
	}
}