 <div class="tab-pane active" id="libraryHome">
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-music"></i></span>DJ Crates</h3>
		<ul class="playlists">
			{% for playlistDbKey,playlistDbValue in home.crates %}
				{% set playlistValue = playlistDbValue.0 %}
				{% include "AppSupplyWarakinBundle:Components:playlist.component.html.twig" %}
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-music"></i></span>New Tracks</h3>
		<ul class="new-style">
			{% for key,value in home.tracks.New %}
				{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-music"></i></span>Pop Tracks</h3>
		<ul class="new-style">
			{% for key,value in home.tracks.Pop %}
				{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-music"></i></span>New Favorites</h3>
		<ul class="new-style">
			{% for key,value in home.tracks.newFavorites %}
				{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-music"></i></span>New Serato Tagged Tracks</h3>
		<ul class="new-style">
			{% for key,value in home.tracks.Serato %}
				{% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-dot-circle"></i></span>New Artists</h3>
		<ul class="new-list">
			{% for key,value in home.artists.New %}
				<li>
					<a href="#libraryArtist" data-toggle="tab" onClick="loadArtist('data/artists/{{value.id}}', '#libraryArtist');">{{value.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-user"></i></span>Pop Artists</h3>
		<ul class="new-list">
			{% for key,value in home.artists.Pop %}
				<li>
					<a href="#libraryArtist" data-toggle="tab" onClick="loadArtist('data/artists/{{value.id}}', '#libraryArtist');">{{value.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-dot-circle"></i></span>New Albums</h3>
		<ul class="new-list">
			{% for key,value in home.albums.New %}
				<li>
					<a href="#libraryTracks" data-toggle="tab" onClick="loadAlbum({{value.id}}, '#libraryTracks');"><img src="data/albums/{{value.id}}/cover" height="60" width="60" />{{value.artist}} - {{value.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="list-container">
		<h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-dot-circle"></i></span>Pop Albums</h3>
		<ul class="new-list">
			{% for key,value in home.albums.Pop %}
				<li>
					<a href="#libraryTracks" data-toggle="tab" onClick="loadAlbum({{value.id}}, '#libraryTracks');"><img src="data/albums/{{value.id}}/cover" height="60" width="60" />{{value.artist}} - {{value.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>