<div class="tab-pane active" id="libraryPlaylist">
    <ul class="new-style header">
        <li class="track">
            <p>
                <span class="drag"></span>
                <span class="num">&nbsp;</span>
                <span class="cover">&nbsp;</span>
                <span class="artist">artist</span>
                <span class="album">album</span>
                <span class="short year">year</span>
                <span class="title">title</span>
                <span class="genre">genre</span>
                <span class="short bitrate">kb/s</span>
                <span class="short bpm"><i class="fas fa-tachometer-alt"></i></span>
                <span class="short music_key">key</span>
                <span class="rating">rating</span>
                <span class="mini info"><i class="fa fa-info-circle"></i></span>
                <span class="mini playnext" onclick="javascript:generateNextTracks($(this).parent())"><i class="fa fa-graduation-cap"></i></span>
                <span class="mini spotify"><i class="fab fa-spotify"></i></span>
                <span class="mini last_fm_url"><i class="fab fa-lastfm"></i></span>
                <span class="mini serato">&nbsp;</span>
                <span class="short duration">length</span>
                <span class="playlists"><i class="fa fa-list"></i></span>
                <span class="mini add_to_list"><i class="fas fa-cloud-upload-alt"></i></a></span>
                <span class="mini remove" onclick="javascript:clearPlaylist();"><i class="fa fa-times"></i></span>
            </p>
        </li>
    </ul>
    <ul class="playlist new-style" id="playlist">
        {% if home.playlist is defined %}
            {% for key,playlistTrackValue in home.playlist.playlistTracks %}
                {% set value = playlistTrackValue.getTrack() %}
                {% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}            
            {% endfor %}
        {% endif %}
    </ul>
    <ul class="playlist new-style footer">
        <li class="track">
            <span class="mini drag"></span>
            <span class="num">PLS:</span>
            <span class="playlistname"><span id="playlistname"></span> <i class="fas fa-save" id="playlistsave" onclick="javascript:updatePlaylist();"></i></span>
            <span class="genre"></span>
            <span class="short bitrate"></span>
            <span class="short bpm"></span>
            <span class="short duration"></span>
            <span class="mini spotify"></span>
            <span class="mini last_fm_url"></span>
            <span class="mini last_fm_url"></span>
            <span class="rating"></span>
            <span class="mini">
                <a href="#" id="repeat-switch"><i class="fas fa-redo"></i></a>
            </span>
            <span class="mini">
                <a href="#" id="shuffle-switch"><i class="fa fa-random"></i></a>
            </span>
            <span class="mini">
                <a href="#" id="auto-playnext-switch" class="auto-play-next active"><i class="fa fa-graduation-cap"></i></a>
            </span>
            <span class="mini remove">
                <a href="#" id="auto-playnext-switch" class="auto-play-next active"><i class="fa fa-cog"></i></a>
            </span>
        </li>
    </ul>

</div>