 <div class="tab-pane active" id="libraryHome">{#
    <div class="list-container">
        <h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-dot-circle"></i></span>New Artists</h3>
        <ul class="new-list">
            {% for key,value in home.artists.New %}
                <li>
                    <a href="#libraryArtist" data-toggle="tab" onClick="loadArtist('/data/artists/{{value.id}}', '#libraryArtist');">{{value.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="list-container">
        <h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-user"></i></span>Pop Artists</h3>
        <ul class="new-list">
            {% for key,value in home.artists.Pop %}
                <li>
                    <a href="#libraryArtist" data-toggle="tab" onClick="loadArtist('/data/artists/{{value.id}}', '#libraryArtist');">{{value.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="list-container">
        <h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-dot-circle"></i></span>New Albums</h3>
        <ul class="new-list">
            {% for key,value in home.albums.New %}
                <li>
                    <a href="#libraryTracks" data-toggle="tab" onClick="loadAlbum({{value.id}}, '#libraryTracks');">{{value.artist}} - {{value.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="list-container">
        <h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-dot-circle"></i></span>Pop Albums</h3>
        <ul class="new-list">
            {% for key,value in home.albums.Pop %}
                <li>
                    <a href="#libraryTracks" data-toggle="tab" onClick="loadAlbum({{value.id}}, '#libraryTracks');">{{value.artist}} - {{value.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="list-container">
        #}<h3 class="list-header"><span><i class="fas fa-star"></i></span><span><i class="fas fa-tag"></i></span>{% 
            if home.tracks.Title is defined %}{{home.tracks.Title|capitalize }}{% else %}Tags{% endif 
        %}</h3>
        <ul class="new-style">            
            {% for key,tag in home.tracks.New %}
               {% set value = tag.0 %}
                {% include "AppSupplyWarakinBundle:Components:tag.component.html.twig" %}
            {% endfor %}
        </ul>{#
    </div>
    <div class="list-container">
        <h3 class="list-header"><span><i class="fas fa-fire"></i></span><span><i class="fas fa-music"></i></span>Pop Tracks</h3>
        <ul class="new-style">
            {% for key,value in home.tracks.Pop %}
                {% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
            {% endfor %}
        </ul>
    </div>
    <div class="list-container">
        <h3>New Serato Tagged Tracks</h3>
        <ul class="new-list">
        </ul>
    </div>#}
</div>