<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Warakin - {% block title %}Home Audio Player{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#d83f3fa">
    {#<base href="http://85.149.18.132:668/warakin.utf8/" target="_blank">#}
    <base href="http{% if app.request.isSecure() %}s{% endif %}://{{ app.request.getHost() }}:{{ app.request.getPort() }}{{ app.request.getBasePath }}/" />
    {#<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">#}
    <link rel="manifest" href="/manifest.json">
    
    {#<script defer src="//use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
	{% stylesheets %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% block css %}{% endblock %}

	{% javascripts 
		'%kernel.root_dir%/../vendor/jquery/jquery/jquery-1.8.3.js' 
		'%kernel.root_dir%/../src/AppSupply/WarakinBundle/Resources/public/js/jquery-ui.js'  
	%}
    	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js');
      });
    }
    </script>
    {% block script %}{% endblock %}
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bundles/appsupplywarakin/img/Icon.png">
        <!--link rel="apple-touch-icon-precomposed" sizes="114x114" href="./bootstrap/ico/apple-touch-icon-114-precomposed.png"-->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bundles/appsupplywarakin/img/Icon.png">
        <link rel="apple-touch-icon-precomposed" href="bundles/appsupplywarakin/img/Icon.png">
        <link rel="shortcut icon" type="image/png" href="bundles/appsupplywarakin/img/Icon.png">
  </head>
  <body>
    <!-- page content -->
    <div class="container">
    {% block htmlContent %}{% endblock %}
    </div>
    <div id="templates">
    {% block javascriptHtmlTemplates %}{% endblock %}
    </div>
		{% include "AppSupplyWarakinBundle:Components:preloader.component.html.twig" %}
	{% javascripts 
		'//netdna.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap.min.js'
	%}
    	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
  </body>
</html>
