{% extends 'AppSupplyWarakinBundle::base.html.twig' %}

{% block title %}Player{% endblock %}


{% block css %}
	{% stylesheets 
		'@AppSupplyWarakinBundle/Resources/public/css/player.less'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/jquery.raty.css'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/fonts/raty.eot'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/fonts/raty.svg'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/fonts/jquery.raty.ttf'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/fonts/jquery.raty.woff'
	%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block script %}
	{% javascripts
		'@AppSupplyWarakinBundle/Resources/public/js/soundmanagerv2/script/soundmanager2-nodebug-jsmin.js'

		'@AppSupplyWarakinBundle/Resources/public/js/jquery.tablednd.js'
		'@AppSupplyWarakinBundle/Resources/public/js/jquery-raty/lib/jquery.raty.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/main.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/gui.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playerFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/playlistFunctions.js'
		'@AppSupplyWarakinBundle/Resources/public/js/player/libraryFunctions.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.charorder.min.js'
        '@AppSupplyWarakinBundle/Resources/public/js/jquery.tinysort.min.js'

	%}
    	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block htmlContent %}

	<h3>General preview list container</h3>

	<h3>Playlist container</h3>
	{% include "AppSupplyWarakinBundle:Sections:playlist.pane.html.twig" %}

	<h3>Playlist container on smartphone</h3>
	<iframe width="480" height="800" src="{{ url('homepage') }}/player/load/playlist/85#libraryPlaylist"></iframe>

{% endblock %}
