<li class="playlist" 
    data-track-id="{{value.id}}" 
    data-src=""
    data-cover="{% if value.album %}data/albums/{{value.album.id}}/cover{% else %}bundles/appsupplywarakin/img/defaultAlbum.png{% endif %}"
>
    <h4>{{playlistValue.name}} ({{playlistValue.playlistTracks|length}})</h4>
    <p>
        <span class="icon"><i class="fa fa-list-alt"></i></span>
        <span class="type" >
            {% if playlistValue.type == 'Crate' %}
                <i class="fas fa-layer-group"></i>
            {% elseif playlistValue.type == 'Style' %}
                <i class="fa fa-th-large"></i>
            {% elseif playlistValue.type == 'Activity' %}
                <i class="fa fas-running"></i>
            {% elseif playlistValue.type == 'Theme' %}
                <i class="fa fa-play-circle"></i>
            {% elseif playlistValue.type == 'Mood' %}
                <i class="fa fas-theater-masks"></i>
            {% elseif playlistValue.type == 'Remixes' %}
                <i class="fa fas-blender"></i>
            {% elseif playlistValue.type == 'Sound' %}
                <i class="fa fas-volume-up"></i>
            {% elseif playlistValue.type == 'Transit' %}
                <i class="fa fas-arrows-alt-h"></i>
            {% elseif playlistValue.type == 'Region' %}
                <i class="fa fas-globe-europe"></i>
            {% elseif playlistValue.type == 'Scene' %}
                <i class="fa fa-play-circle"></i>
            {% endif %}
        </span>
        <span>Mostly '+genreList+'</span><br/>
        <span>
            CuePoint prepped: {{playlistDbValue.taggedTrackCount}}/{{playlistValue.playlistTracks|length}}</span><br/>

        <span class="align-right">
            <a href="javascript:loadPlaylist({{playlistValue.id}})"  ><i class="fa fa-play-circle"></i> Play</a> 
            <a href="data/playlists/{{playlistValue.id}}/m3u" target="_blank"  ><i class="fa fa-list-alt"></i> Get Playlist</a> 
            <a href="data/playlists/{{playlistValue.id}}/zip" target="_blank" ><i class="fa fa-cloud-download-alt"></i> Get Tracks</a>
        <span>
    </p>
{#    
    <ul class="new-style">
       {% for playlistTrackKey,playlistTrackValue in playlistValue.playlistTracks %}
            {% set value = playlistTrackValue.track %}
            {% include "AppSupplyWarakinBundle:Components:track.component.html.twig" %}
        {% endfor %}
    </ul>
#}
</li>
