
    <style>
        .preloader.fadeOut{
            animation:fadeOut .2s ease-out 1s 1 normal forwards;
            pointer-events: none;
        }

        @keyframes fadeOut {
            0% {
                opacity:1;
            }
            100% {
                opacity:0;
            }
        }

        .preloader.fadeIn{
            animation:fadeIn .2s ease-out 0s 1 normal forwards;
            pointer-events: auto;
        }

        @keyframes fadeIn {
            0% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }

        .preLoader{
            /* animation: rotate 2s infinite; */
            display:block;
            height:80px;
            width:80px;
            position:relative;
            margin-top:96px;/*calc(33% - 80px);*/
            margin-left:calc(50% - 40px);
        }
        .halfCircle{
            display: inline-block;
            width:80px;
            height:80px;
            position:absolute;
        }
        .halfCircle:nth-child(1):before{
            content:'';
            position:absolute;
            width:60px;
            height:60px;
            border:10px solid transparent;
            border-top-color:white;
            border-right-color:white;
            border-radius:50%;
            transform:rotate(-45deg);
            animation: rotate 3s infinite linear, myanim1 6s infinite ease-out;
        }
        .halfCircle:nth-child(2):before{
            content:'';
            position:absolute;
            top:10px;   
            left:10px;
            width:40px;
            height:40px;
            border:10px solid transparent;
            border-top-color:white;
            border-right-color:white;
            border-radius:50%;
            transform:rotate(-45deg);
            animation: rotate 2s infinite reverse linear, myanim1 4s infinite reverse ease-out;
        }
        .halfCircle:nth-child(2):after{
            content:'';
            position:absolute;
            top:20px;
            left:20px;
            width:20px;
            height:20px;
            border:10px solid transparent;
            border-bottom-color:white;
            border-left-color:white;
            border-radius:50%;
            transform:rotate(-45deg);
            animation: rotate 1.5s infinite linear, myanim2 3s infinite ease-out;
        }

        @keyframes rotate {
            0% {
                transform: rotate(-45deg);
            }
            100% {
                transform: rotate(315deg);
            }
        }
        @keyframes myanim1 {
            50% {
                border-top-color: red;
                border-right-color: red;
            }
        }
        @keyframes myanim2 {
            50% {
                border-bottom-color: red;
                border-left-color: red;
            }
        }

    </style>
<div class="preloader">
    <div class="preLoader">
        <div class="halfCircle"></div>
        <div class="halfCircle"></div>  
    </div>
</div>
