<li data-src="" data-cover="bundles/appsupplywarakin/img/defaultAlbum.png" class="track">
    <span class="mini drag"><i class="fa fa-bars"></i></span>
    <span class="num"></span>
    <span class="artist"></span>
    <span class="album"></span>
    <span class="short year"></span>
    <span class="title"></span>
    <span class="genre"><select id="genre-for-track-x"><option selected="true">Default option</option></select></span>
    <span class="short bitrate"></span>
    <span class="short bpm">&nbsp;</span>
    <span class="short music_key">&nbsp;</span>
    <span class="short duration"></span>
    <span class="mini playnext" onclick="javascript:generateNextTracks($(this).parent())"><i class="fa fa-graduation-cap"></i></span>
    <span class="rating">
        <div class="rating_display" style="cursor: pointer; width: 100px;">{#
            <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="1" title="bad">
            <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="2" title="poor">
            <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="3" title="regular">
            <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="4" title="good">
            <img src="bundles/appsupplywarakin/img/raty/star-off.png" alt="5" title="gorgeous">
            <input type="hidden" name="score" value="4">
        #}</div>
    </span>
    <span class="mini info"><a href="{{ url('homepage') }}/player/track/" target="_blank"><i class="fa fa-info-circle"></i></a></span>
    <span class="mini spotify"><i class="fab fa-spotify"></i></span>
    <span class="mini last_fm_url"></span>
    <span class="mini serato"><img src="bundles/appsupplywarakin/img/icons/serato-icon-grey.png" width="16"/></span>
    <span class="mini add_to_playlist" onclick="javascript:showSaveTrackToPlaylistModal($(this).parent())"><i class="fa fa-plus-square"></i></a></span>
    <span class="mini remove" onclick="javascript:removeTrackFromPLaylist($(this).parent())"><i class="fa fa-times"></i></span>
</li>