<ul class="nav nav-tabs">
	<li>
		<a href="#libraryHome" class="active" data-toggle="tab"><i class="fa fa-home"></i>
			<span>Home</span>
		</a>
	</li>
	<li>
		<a href="#libraryPlaylist" class="active" data-toggle="tab"><i class="fa fa-list"></i>
			<span>Playlist</span>
		</a>
	</li>
	<!--li class="nav-header">Library</li-->
	<li>
		<a href="#libraryArtists" data-toggle="tab"><i class="fa fa-users"></i>
			<span>Artists</span>
		</a>
	</li>
	<li>
		<a href="#libraryArtist" id="artistsGenresBtn" data-toggle="tab"><i class="fa fa-user"></i>
			<span>Artist</span>
		</a>
	</li>
	<li>
		<a href="#libraryGenres" id="libraryGenresBtn" data-toggle="tab"><i class="fa fa-th-large"></i>
			<span>Genres</span>
		</a>
	</li>
	<li>
		<a href="#libraryTracks" data-toggle="tab"><i class="fa fa-music"></i>
			<span>Tracks</span>
		</a>
	</li>
	<li>
		<a href="#libraryPlaylists" data-toggle="tab"><i class="fa fa-list-alt"></i>
			<span>Playlists</span>
		</a>
	</li>
	<li>
		<a href="#libraryPlaylistGenerator" data-toggle="tab"><i class="fa fa-cog"></i>
			<span>Playlist Generator</span>
		</a>
	</li>
	<!--li>
		<a href="#libraryStats" data-toggle="tab"><i class="fa fa-signal"></i>
			<span>Stats</span>
		</a>
	</li>
	<li>
		<a href="#libraryTools" data-toggle="tab"><i class="fa fa-wrench"></i>
			<span>Tools</span>
		</a>
	</li-->
</ul>