
<li class="tag" data-track-id="{{value.id}}">
    <p>
        <span class="drag" style="padding:0 3px;border-radius:4px;display:inline-block; width:12px; text-align:right;" ><i class="fa fa-tag" ></i></span>
        <span class="name">{#
            <a href="javascript:viewTag({
                    id:{{value.id}}, 
                    name:'{{value.name|escape('js')}}', 
                    trackCount:
                })">{{value.name}} ({{value.tracks|length}})
            </a>
            #}<a href="{{ url('app_supply_warakin_player_tag', { 'tag_id': value.id }) }}">{#
                #}{{value.name}}{# ({{value.tracks|length}})
            #}</a>
        </span>
    </p>
</li>