<li class="track" 
    data-track-id="{{value.id}}" 
    data-src=""
    data-cover="{% if value.album %}data/albums/{{value.album.id}}/cover{% else %}bundles/appsupplywarakin/img/defaultAlbum.png{% endif %}"
>
    <p>
        <span class="drag"><i class="fa fa-bars" ></i></span>
        <span class="num"></span>
        <span class="cover"><img src="{% if value.album %}data/albums/{{value.album.id}}/cover{% else %}bundles/appsupplywarakin/img/defaultAlbum.png{% endif %}"/></span>
        <span class="artist">{% if value.artist %}<a href="#libraryArtist" data-toggle="tab" onClick="javascript:loadArtist('data/artists/{{value.artist.id}}', '#libraryArtist')" >{{value.artist.name}}</a>{% endif %}</span>
        <span class="album">{% if value.album %}<a href="javascript:loadAlbum({{value.album.id}})">{{value.album.name}}</a>{% endif %}</span>
        <span class="year">{% if value.year %}{{value.year.name}}{% endif %}</span>
        <span class="title">
            <a href="javascript:addTrackToPlaylist({
                    id:{{value.id}}, 
                    title:'{{value.title|escape('js')}}', 
                    artist:'{% if value.artist %}{{value.artist.name|escape('js')}}{% endif %}', 
                    album:{
                        {% if value.album %}
                            id: {{value.album.id|escape('js')}},
                            name:'{{value.album.name|escape('js')}}'
                        {% endif %}
                    }, 
                    genre:'{% if value.genre %}{{value.genre.name|escape('js')}}{% endif %}', 
                    music_key:'{{value.getMusicKey()}}', 
                    bitrate:{% if value.bitrate %}{{value.bitrate}}{% else %}null{% endif %} , 
                    length:{{value.length}}, 
                    rating:{% if value.statistics %}{{value.statistics.rating}}{% else %}null{% endif %}, 
                    playlists:{% if value.playlistTracks %}[
                        {% for key,list in value.playlistTracks %}
                            {% if list.playlist %}
                                {id:{{list.playlist.id}}},
                            {% endif %}
                        {% endfor %}]{% else %}[]{% endif %} 
                })">{{value.title}}
            </a>
        </span>
        <span class="genre">{% if value.genre %}{{value.genre.name}}{% endif %}<select id="genre-for-track-x"><option selected="true">Default option</option></select></span>
        {#<span class="url">{{value.url}}</span>#}
        <span class="bitrate bitrate-{{ (value.bitrate // 32 )*32 }}">{{value.bitrate}}</span>
        <span class="bpm bpm-{{value.bpm}}">{{value.bpm}}</span>
        <span class="music_key music_key-{{value.getCamelotKey()}}">{{value.camelotKey}}</span>
        <span class="rating">
            {% if value.statistics %}{{value.statistics.rating/2}} <i class="fa fa-star" style="font-size:10px;line-height:0px;"></i>{%endif%}
            <span class="rating_display" style="cursor: pointer; width: 100px;">{#
                <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="1" title="bad">
                <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="2" title="poor">
                <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="3" title="regular">
                <img src="bundles/appsupplywarakin/img/raty/star-on.png" alt="4" title="good">
                <img src="bundles/appsupplywarakin/img/raty/star-off.png" alt="5" title="gorgeous">
                <input type="hidden" name="score" value="4">
            #}</span>
        </span>
        
        <span class="mini interactive info"><a href="app_dev.php/player/track/{{value.id}}" target="_blank"><i class="fa fa-info-circle"></i></a></span>
        <span class="mini interactive playnext" onclick="javascript:generateNextTracks($(this).parent().parent())"><i class="fa fa-graduation-cap"></i></span>   
        <span class="mini interactive spotify"><i class="fab fa-spotify"></i></span>
        <span class="mini interactive last_fm_url"></span>
        <span class="serato">{% if value.seratoFeatures %}{% if value.seratoFeatures.seratoCuePoints %}{% if value.seratoFeatures.seratoCuePoints|length > 0 %}{{value.seratoFeatures.seratoCuePoints|length}}{% endif %}{% endif %}{% endif %}</span>
        {# dirty cut and paste from old track queue track component #}
        {#<span class="mini serato"><img src="bundles/appsupplywarakin/img/icons/serato-icon-grey.png" width="16"/></span>#}
        <span class="duration">{{ '%02d'|format(  value.length / 60 )  }}:{{ '%04.1f'|format(  ( value.length % 60 )    ) }}</span>
        <span class="playlists">{{value.getPlaylistTracks()|length}} <i class="fa fa-list" style="font-size:10px;"></i></span>
        <span class="mini interactive add_to_playlist" onclick="javascript:showSaveTrackToPlaylistModal($(this).parent().parent())"><i class="fa fa-plus-square"></i></a></span>
        <span class="mini interactive remove" onclick="javascript:removeTrackFromPLaylist($(this).parent().parent())"><i class="fa fa-times"></i></span>
    </p>
</li>
