<h1>Playlist Exports</h1>

<h2>Favorites by genre and rating</h2>
<ul>
    {% for genre in genres %}
    	{% if genre.name and genre.favoritesCount > 10 %}
        <li>Genre:
            <a href="playlists/generate/m3u/%7B'genres':[{{ genre.id }}],'length':12000,'min_rating':7, 'max_rating':10, 'song_length':12%7D">{{ genre.name }}</a>

        	({{ genre.favoritesCount }}/{{ genre.favorites }} favs || quality : {{ ((genre.favoritesCount / genre.favorites) * 100) | round }}) 
        	{#{genre.count}#}
        	<ul>
        		{% for i in 10..6 %}
       				 <li>
       				 	<a href="playlists/generate/m3u/%7B'genres':[{{ genre.id }}],'length':12000,'min_rating':{{ i }}, 'max_rating':{{ i }}, 'song_length':12%7D">rating : {{ i/2 }}</a>
			        </li>
			    {% endfor %}
        	</ul>
		    <br/>
		    <br/>
        </li>
        {% endif %}
    {% endfor %}
</ul>
